
body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #f4f6f8;
  color: #2C3E50;
}

.navbar {
  background-color: #2C3E50;
  text-align: center;
  padding: 40px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00bcd4;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding:60px 20px;
  background: linear-gradient(135deg, #ECF0F1 40%, #dce6eb);
  min-height: 90vh;
}

.hero-text {
  max-width: 550px;
}

.hero-text h1 {
  font-size: 48px;
  color: #2C3E50;
  margin-bottom: 10px;
}

.hero-text h1 span {
  color: #00bcd4;
  font-weight: bold;
}

.hero-text h2 {
  font-size: 24px;
  color: #7f8c8d;
  margin-bottom: 25px;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.7;
  color: #444;
  margin-bottom: 30px;
}

.btn {
  background-color: #00bcd4;
  color: white;
  padding: 12px 28px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0288a7;
}

.hero-image img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.about {
  padding: 60px 10%;
  text-align: center;
}

.about h1 {
  font-size: 40px;
  color: #2C3E50;
  margin-bottom: 40px;
}

.about-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.skills, .qualification {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 350px;
  text-align: left;
}

.skills h2, .qualification h2 {
  color: #00bcd4;
}

.skills ul {
  list-style: square;
  padding-left: 20px;
  line-height: 1.8;
}

.qualification table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.qualification th, .qualification td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.qualification th {
  background-color: #2C3E50;
  color: white;
}


.contact {
  text-align: center;
  padding: 40px 20px;
}

.contact h1 {
  color: #2C3E50;
  font-size: 40px;
  margin-bottom: 30px;
}

form {
  background-color: white;
  padding: 40px;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: #00bcd4;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0288a7;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 36px;
  }
  .hero-image img {
    width: 200px;
    height: 200px;
  }
}
